@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply text-7xl font-bold translate-y-4;
}

h2 {
	@apply text-4xl font-bold;
}

h3 {
	@apply text-2xl mb-6;
}

h4 {
	@apply text-xl leading-[2.5rem];
}

p {
	@apply text-lg text-zinc-400;
}

* {
	@apply text-lg;
}

/* Robit Bold */
@font-face {
	font-family: 'Robit';
	src: url('assets/robit/robittrial-bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

/* Robit Dark */
@font-face {
	font-family: 'Robit';
	src: url('assets/robit/robittrial-dark.otf') format('opentype');
	font-weight: 800;
	/* Adjust if necessary */
	font-style: normal;
}

/* Robit Light */
@font-face {
	font-family: 'Robit';
	src: url('assets/robit/robittrial-light.otf') format('opentype');
	font-weight: lighter;
	font-style: normal;
}

/* Robit Medium */
@font-face {
	font-family: 'Robit';
	src: url('assets/robit/robittrial-medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

/* Robit Regular */
@font-face {
	font-family: 'Robit';
	src: url('assets/robit/robittrial-regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
